<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>

<% @artists.each.with_index(1) do |artist, i| %>
  <label>Artist Number: <%= i %></label><br>
  <label> Artist Name: </label>
  <%= artist.name %><br>
  <label> Artist Bio: </label>
  <%= artist.bio %><br>
<% end %>
